<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center">
            If you want change your password
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <p style="margin: 17px 0;">
                You need click on reset password
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <a href="{{frontUrl}}/password/restore?token={{actionToken}}">RESET PASSWORD
        </td>
    </tr>
</table>